[submodule "CustomModules"]
	path = CustomModules
	url = git@github.com:UMCUGenetics/CustomModules.git
[submodule "NextflowModules"]
	path = NextflowModules
	url = git@github.com:UMCUGenetics/NextflowModules.git
