params {
    dims_r_pack_image_path = '/hpc/dbg_mz/tools/singularity_cache/dims-1.1.img'
    raw_files_outputdir    = "$params.outdir/mzMLfiles/"
    scripts_dir            = "/hpc/dbg_mz/development/DIMS_Nextflow/CustomModules/DIMS/"
    hmdb_db_file           = "/hpc/dbg_mz/tools/db/HMDB_add_iso_corrected_V2.RData"
    relevance_file         = "/hpc/dbg_mz/tools/db/HMDB_with_info_relevance_corrected_V2.RData"
    hmdb_parts_files   = "/hpc/dbg_mz/tools/db/NF_hmdb_parts/"
    trim = 0.1
    thresh = 2000
    // to receive error mails, activate:
    // cluster_options = "--mail-user $params.email --mail-type FAIL --account=dbg_mz"
}

process {
    withLabel: ThermoRawFileParser_1_1_11 {
        cpus = 2
        memory = { 2.GB * task.attempt }
        time = { 2.m * task.attempt }
    }

    withLabel: GenerateBreaks {
        cpus = 2
        memory = { 1.GB * task.attempt }
        time =  { 2.m * task.attempt }
    }

    withLabel: HMDBparts_main {
        cpus = 2
        memory = { 2.GB * task.attempt }
        time = { 4.m * task.attempt }
    }

    withLabel: HMDBparts {
        cpus = 2
        memory = { 2.GB * task.attempt }
        time = { 60.m * task.attempt }
    }

   withLabel: AssignToBins {
        cpus = 2
        memory = { 2.GB * task.attempt }
        time = { 2.m * task.attempt }
    }

    withLabel: AverageTechReplicates {
        cpus = 2
        memory = { 2.GB * task.attempt }
        time =  { 30.m * task.attempt }

        publishDir {
            path = "$params.outdir/Bioinformatics"
            mode = 'link'
            pattern = '*.{txt, pdf}'
        }
        publishDir {
            path = "$params.outdir/Bioinformatics/RData"
            mode = 'link'
            pattern = '*replication_pattern.RData'
        }

    }

    withLabel: PeakFinding {
        cpus = 2
        memory = { 1.GB * task.attempt }
        time = { 5.m * task.attempt }
    }

    withLabel: SpectrumPeakFinding {
        cpus = 2
        memory = { 1.GB * task.attempt }
        time = { 1.m * task.attempt }
    }

    withLabel: PeakGrouping {
        cpus = 2
        memory = { 1.GB * task.attempt }
        time = { 30.m * task.attempt }
    }

    withLabel: FillMissing {
        cpus = 2
        memory = { 1.GB * task.attempt }
        time = { 2.m * task.attempt }
    }

    withLabel: CollectFilled {
        cpus = 2
        memory = { 2.GB * task.attempt }
        time = { 4.m * task.attempt }

        publishDir {
            path = "$params.outdir/Bioinformatics"
            mode = 'link'
            pattern = 'outlist_identified_*.txt'
        }
        publishDir {
            path = "$params.outdir/Bioinformatics/RData"
            mode = 'link'
            pattern = 'outlist_identified_*.RData'
        }
    }
    
    withLabel: SumAdducts {
        cpus = 2
        memory = { 2.GB * task.attempt }
        time = { 30.m * task.attempt }
    }

    withLabel: CollectSumAdducts {
        cpus = 2
        memory = { 1.GB * task.attempt }
        time = { 1.m * task.attempt }

        publishDir {
            path = "$params.outdir/Bioinformatics/RData"
            mode = 'link'
            pattern = 'AdductSums*.RData'
        }
    }

    withLabel: GenerateExcel {
        cpus = 2
        memory = { 10.GB * task.attempt }
        time = { 10.m * task.attempt }

        publishDir {
            path = "$params.outdir/Bioinformatics"
            mode = 'copy'
            pattern = '*.{txt, xlsx}'
        }
        publishDir {
            path = "$params.outdir/Bioinformatics/RData"
            mode = 'copy'
            pattern = '*IS_results.RData'
        }
        // publishDir plots, mode = 'copy', path = "$params.outdir/Bioinformatics"
    }

    withLabel: GenerateViolin {
        cpus = 2
        memory = { 1.GB * task.attempt }
        time = { 20.m * task.attempt }

        publishDir {
            path = "$params.outdir/Bioinformatics/dIEM"
            mode = 'copy'
            pattern = '*.{txt, xlsx}'
        }
        // publishDir Diagnostics, mode = 'copy', path = "$params.outdir/Bioinformatics/dIEM"
        // publishDir Other, mode = 'copy', path = "$params.outdir/Bioinformatics/dIEM"
        // publishDir dIEM_plots, mode = 'copy', path = "$params.outdir/Bioinformatics/dIEM"
    }

    withLabel: UnidentifiedCollectPeaks {
        cpus = 2
        memory = { 1.GB * task.attempt }
        time = { 2.m * task.attempt }
    }

    withLabel: UnidentifiedPeakGrouping {
        cpus = 2
        memory = { 5.GB * task.attempt }
        time = { 300.m * task.attempt }
    }

    withLabel: UnidentifiedFillMissing {
        cpus = 2
        memory = { 10.GB * task.attempt }
        time = { 15.m * task.attempt }
    }

    withLabel: UnidentifiedCalcZscores {
        cpus = 2
        memory = { 10.GB * task.attempt }
        time = { 10.m * task.attempt }

        publishDir {
            path = "$params.outdir/Bioinformatics/RData"
            mode = 'copy'
            pattern = '*.RData'
        }
    }
}

report {
    enabled = true
    file = "$params.outdir/log/nextflow_report.html"
}

trace {
    enabled = true
    overwrite = true
    file = "$params.outdir/log/nextflow_trace.txt"
    // fields = 'task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes,vol_ctxt,inv_ctxt'
    fields = 'task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem'
}

timeline {
    enabled = true
    file = "$params.outdir/log/nextflow_timeline.html"
}

profiles {

    slurm {
        process {
            executor = 'slurm'
            queue = 'cpu'

            errorStrategy = 'retry'
            maxRetries = 1
        }

        singularity {
            enabled = true
            runOptions = '-B /hpc/dbg_mz:/hpc/dbg_mz -B $TMPDIR:$TMPDIR'
            autoMounts = true
            cacheDir = '/hpc/dbg_mz/tools/singularity_cache'
        }

        executor {
            queueSize = 1000
            pollInterval = '1min'
            queueStatInterval = '5min'
            submitRatelimit = '10sec'
        }

        mail {
            smtp.host = 'localhost'
        }
    }
}

