params {
    resolution = 140000 
    trim = 0.1 

    dims_r_pack_image_path = '/hpc/dbg_mz/tools/singularity_cache/dims-1.1.img'
    raw_files_outputdir = "$params.outdir/mzMLfiles/"
}

process {
    withLabel: 'ThermoRawFileParser_1_1_11' {
        cpus = 2
        memory = '1G'
        time = '30m'
    }

    withLabel: GenerateBreaks {
        cpus = 2
        memory = '5GB' 
        time =  '5m' 

        publishDir {
            path = "$params.outdir"
            mode = 'link'
        }
    }
}

report {
    enabled = true
    file = "$params.outdir/log/nextflow_report.html"
}

trace {
    enabled = true
    file = "$params.outdir/log/nextflow_trace.txt"
    fields = 'task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes,vol_ctxt,inv_ctxt'
}

timeline {
    enabled = true
    file = "$params.outdir/log/nextflow_timeline.html"
}

profiles {

    slurm {
        process {
            executor = 'slurm'
            queue = 'cpu'

            errorStrategy = 'retry'
            maxRetries = 1
        }

        singularity {
            enabled = true
            runOptions = '-B /hpc/dbg_mz:/hpc/dbg_mz -B $TMPDIR:$TMPDIR'
            autoMounts = true
            cacheDir = '/hpc/dbg_mz/tools/singularity_cache'
        }

        executor {
            queueSize = 1000
            pollInterval = '1min'
            queueStatInterval = '5min'
            submitRatelimit = '10sec'
        }

        mail {
            smtp.host = 'localhost'
        }
    }
}

