params {
    scripts_dir = "$projectDir/CustomModules/DIMS/Utils/"
    preprocessing_scripts_dir = "$projectDir/CustomModules/DIMS/preprocessing/"
    export_scripts_dir = "$projectDir/CustomModules/DIMS/export/"
    tools_dir = "/hpc/dbg_mz/tools/db"
    hmdb_db_file = "$params.tools_dir/HMDB_V5/HMDB_V5_iso_adducts_IS.RData"
    relevance_file = "$params.tools_dir/HMDB_V5/HMDB_V5_rlvnc.RData"
    hmdb_parts_files = "$params.tools_dir/HMDB_V5/hmdb_parts/"
    sst_components_file = "$params.tools_dir/SST_componenten.txt"
    path_metabolite_groups = "$params.tools_dir/metabolite_groups"
    file_ratios_metabolites = "$params.tools_dir/HMDB_V5/Ratios_between_metabolites.csv"
    file_expected_biomarkers_IEM = "$params.tools_dir/HMDB_V5/Expected_biomarkers_IEM_V5.csv"
    file_explanation = "/hpc/dbg_mz/tools/Explanation_violin_plots.txt"
    file_isomers = "/hpc/dbg_mz/tools/isomers.txt"
    trim = 0.1
    thresh = 2000
    threshold_tics = 2000000000
    cluster_options = "--mail-user $params.email --mail-type FAIL --account=dbg_mz"
}

report {
    enabled = true
    file = "$params.outdir/log/nextflow_report.html"
}

trace {
    enabled = true
    overwrite = true
    file = "$params.outdir/log/nextflow_trace.txt"
    fields = 'task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem'
}

timeline {
    enabled = true
    file = "$params.outdir/log/nextflow_timeline.html"
}

profiles {

    slurm {
        process {
            executor = 'slurm'
            queue = 'cpu'
            clusterOptions = "$params.cluster_options"
            errorStrategy = 'retry'
            maxRetries = 2
        }

        singularity {
            enabled = true
            runOptions = '-B /hpc/dbg_mz:/hpc/dbg_mz -B $TMPDIR:$TMPDIR'
            autoMounts = true
            cacheDir = '/hpc/dbg_mz/tools/singularity_cache'
        }

        executor {
            queueSize = 1000
            pollInterval = '1min'
            queueStatInterval = '5min'
            submitRatelimit = '10sec'
        }

        mail {
            smtp.host = 'localhost'
        }
    }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'
