/*
Processes are ordered alphabetically
*/

process {
    withLabel: CreateBins {
        cpus = 2
        memory = { 2.GB * task.attempt }
        time =  { 10.m * task.attempt }
    }

    withLabel: ThermoRawFileParser_1_1_11 {
        cpus = 2
        memory = { 2.GB * task.attempt }
        time = { 5.m * task.attempt }
    }

    withLabel: VersionLog {
        cpus = 2
        memory = { 1.GB * task.attempt }
        time = { 5.m * task.attempt }

        publishDir {
            path = "$params.outdir/Bioinformatics/log"
            mode = 'link'
        }
    }

    withLabel: Workflow_Export_Params {
        cpus = 2
        memory = { 5.GB * task.attempt }
        time = { 5.m * task.attempt }

        publishDir {
            path = "$params.outdir/Bioinformatics/log"
            mode = 'link'
        }
    }
}
