body {
  background-image: url("dims.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center; 
}

h2 {
  color: #4682B4;
}

p {
  color: #4682B4;
}

/*
.wit{
  color: #ffffff;
}*/

img {
    opacity: 1;
    height: auto;
}